plasma-disks-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kdecoration-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
libplasma-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-activities-stats-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kcm-wacomtablet-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
krfb-24.02.2_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kscreenlocker-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kwayland-5.115.0_2.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
milou-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kguiaddons-geo-uri-handler-6.3.0_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kwayland-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kidletime-devel-5.115.0_2.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kmenuedit-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma5support-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kde-cli-tools-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kwindowsystem-6.3.0_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kidletime-devel-5.115.0_2.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kde-gtk-config-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kidletime-5.115.0_2.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
layer-shell-qt-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-integration-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma5support-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kwayland-devel-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kwayland-integration-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kactivitymanagerd-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kwayland-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libplasma-devel-6.0.5_4.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-activities-stats-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-sdk-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kidletime-6.3.0_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kwayland-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
ksysguard-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kwayland-devel-5.115.0_2.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libkf6screen-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
libksysguard-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
xdg-desktop-portal-kde-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
flatpak-kcm-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kde-gtk-config5-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kwin-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libkf6screen-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
libksysguard-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
oxygen-qt6-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-desktop-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
pulseaudio-qt-1.5.0_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
flatpak-kcm-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kwindowsystem-devel-6.3.0_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
sddm-kcm-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kwin-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
breeze-gtk-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kdecoration-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kwayland-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kglobalacceld-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
ksysguard-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-desktop-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-systemmonitor-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
drkonqi-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kwayland-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libplasma-devel-6.0.5_4.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-thunderbolt-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kidletime-6.3.0_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kgamma-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kwayland-5.115.0_2.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kwayland-integration-6.0.5_2.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
libkf6screen-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
oxygen-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
oxygen-sounds-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
bluedevil-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kguiaddons-devel-5.115.0_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
milou-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-activities-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-firewall-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kde5-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kde5-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kwayland-devel-5.115.0_2.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
oxygen-sounds-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-workspace-devel-6.0.5.1_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kguiaddons-6.3.0_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kglobalacceld-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-nm-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-wayland-protocols-1.13.0_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kpipewire-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-integration-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kwrited-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-integration-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-thunderbolt-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-workspace-devel-6.0.5.1_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kguiaddons-devel-5.115.0_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kpipewire-devel-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-vault-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
drkonqi-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kscreen-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kactivitymanagerd-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-sdk-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kpipewire-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
ksystemstats-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libplasma-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-desktop-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
python3-pygdbmi-0.11.0.0_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
breeze-qt6-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kguiaddons-devel-6.3.0_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kidletime-devel-6.3.0_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-activities-stats-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libksysguard-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
oxygen-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
oxygen-qt5-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-activities-stats-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-workspace-wallpapers-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma5support-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kde-gtk-config-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
ksshaskpass-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
python3-pygdbmi-0.11.0.0_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
pulseaudio-qt-devel-1.5.0_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
pulseaudio-qt-devel-1.5.0_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
libplasma-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-workspace-wallpapers-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
powerdevil-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
xdg-desktop-portal-kde-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kdecoration-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kguiaddons-5.115.0_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kscreenlocker-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-systemmonitor-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
breeze-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kdeplasma-addons-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libkf6screen-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
pulseaudio-qt-1.5.0_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kdeplasma-addons5-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kdecoration-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
krdp-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-workspace-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
x86_64-repodata filter=lfs diff=lfs merge=lfs -text
kwin-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kwin-devel-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libplasma-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-workspace-6.0.5.1_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kwayland-devel-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kpipewire-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-disks-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
polkit-kde-agent-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kwindowsystem-6.3.0_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kwallet-pam-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kscreen-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kworkspace-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
breeze-qt5-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-browser-integration-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
libkf6screen-devel-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kscreenlocker-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kwayland-integration-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libksysguard-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-workspace-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
bluedevil-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kglobalacceld-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
libplasma-6.0.5_4.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-activities-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-desktop-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kde-cli-tools-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kwin-devel-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kinfocenter-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
layer-shell-qt-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kguiaddons-devel-6.3.0_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kglobalacceld-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kdeplasma-addons5-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kpipewire-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kgamma-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
khotkeys-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
oxygen-qt5-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-firewall-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kcm-wacomtablet-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kwindowsystem-devel-6.3.0_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
ksshaskpass-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
khotkeys-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libkf6screen-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
krfb-24.02.2_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
layer-shell-qt-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-workspace-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
print-manager-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kwayland-integration-6.0.5_2.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-browser-integration-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kwayland-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-nm-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-pa-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
python3-setuptools-70.1.0_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kgamma5-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kidletime-5.115.0_2.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
xdg-desktop-portal-kde-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-vault-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-workspace-6.0.5.1_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
breeze-qt5-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kworkspace-6.0.5.1_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libkf6screen-devel-6.0.5_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-wayland-protocols-1.13.0_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kscreenlocker-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
layer-shell-qt-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
oxygen-qt6-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-activities-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
sddm-kcm-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
systemsettings-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
systemsettings-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kpipewire-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kwallet-pam-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kgamma5-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kmenuedit-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
krdp-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kwin-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kwrited-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kde-gtk-config5-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kidletime-devel-6.3.0_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
xdg-desktop-portal-kde-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kwin-devel-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kworkspace-6.0.5.1_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
libplasma-6.0.5_4.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
print-manager-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kinfocenter-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kwin-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
libkf6screen-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
python3-setuptools-70.1.0_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kpipewire-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kworkspace-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
breeze-qt6-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kf6-kguiaddons-geo-uri-handler-6.3.0_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
powerdevil-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma-activities-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
polkit-kde-agent-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
breeze-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
breeze-gtk-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kf6-kguiaddons-6.3.0_3.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kpipewire-devel-6.0.5_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
ksystemstats-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-integration-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-pa-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
plasma-workspace-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
kdeplasma-addons-6.1.1_1.x86_64.xbps.sig2 filter=lfs diff=lfs merge=lfs -text
kguiaddons-5.115.0_3.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
plasma5support-devel-6.1.1_1.x86_64.xbps filter=lfs diff=lfs merge=lfs -text
